<footer class="page-footer">
    <div class='container'>
        <ul>
            <li id="github"><h5>Collaborators:</h5></li>
            <li id="github"><a href="https://github.com/ky82" target="_blank"><i class="fab fa-github"></i>Khalid Yassir</a></li>
            <li id="github"><a href="https://github.com/supercarboy88" target="_blank"><i class="fab fa-github"></i> Yi Nick Ying</a></li>
            <li id="github"><a href="https://github.com/lewisjake" target="_blank"><i class="fab fa-github"></i> Jake Lewis</a></li>
            <li id="github"><a href="https://github.com/zuprocj" target="_blank"><i class="fab fa-github"></i> Jeff Corpuz</a></li>
        </ul>
    </div>
</footer>